<footer>
  <div class="container__footer">
    <div class="box__footer">
      <div class="logo">
        <img src="../../../../assets/img/logo.png" alt="">
        <div class="terms">
          <p>
            Hola soy John y hago planos, (por favor llenar)
          </p>
        </div>
      </div>
    </div>
    <div class="box__footer">
      <h2>Soluciones</h2>
      <a href="#">Mapas </a>
      <a href="#">Mapas One piece</a>
      <a href="#">Mapas Naruto</a>
      <a href="#">Mapas Bogotá</a>
    </div>
    <div class="box__footer">
      <h2>Compañia</h2>
      <a href="#">Acerca de Nosotros</a>
      <a href="#">Trabajo</a>
      <a href="#">Procesos</a>
      <a href="#">Servicios</a>
    </div>

  </div>
  <div class="redesSociales">
    <ul>
      <div></div>
      <li>
        <a href="https://www.facebook.com/sergio.ayalahernandez">
          <span class="fa fa-facebook"></span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/sergio_ayala10">
          <span class="fa fa-twitter"></span>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/s.92.08/?hl=es">
          <span class="fa fa-instagram"></span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/sergio-ayala-50b7b0114/">
          <span class="fa fa-linkedin"></span>
        </a>
      </li>
      <div></div>
    </ul>

  </div>  <div class="box__copyright">

    <hr>
    <p>Todos los derechos reservados © 2023 <b>Sergio Ayala</b></p>
  </div>

</footer>
