<section class="home">
  <div class="home-content">
    <div class="home-img">
      <img src="../../../../../assets/img/foto-logo.png">
    </div>
    <div class="home-text">
      <h3>Hello</h3>
      <h2>i'm <span class="color">Sergio</span></h2>
      <p>bla bla bla,<span class="color"> CEO </span> backend, bla bla bla frontend, bla bla bla aplicaciones web
      </p>
      <p>
        here write something<span class="color"> abaut. me </span>
      </p>
      <div class="social">
        <a href="#"><i class="bx bxl-linkedin"></i></a>
        <a href="https://www.facebook.com/sergio.ayalahernandez"><i class="bx bxl-facebook"></i></a>
        <a href="https://twitter.com/sergio_ayala10"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.instagram.com/s.92.08/?hl=es"><i class="bx bxl-instagram"></i></a>
        <a href="https://github.com/SergioAyalaHernandez"><i class="bx bxl-github"></i></a>
      </div>
    </div>
  </div>
</section>
