
.texto{
  align-items: center;
  text-align: center;
  justify-content: center;

}

h1 {
  font-size: 30px;
  padding-top: 3%;
  padding-bottom: 2%;
  font-weight: bold;
}

p {
  font-size: 13px;
  padding-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}
