<header>
  <nav>
    <div>
      <img src="../../../../assets/img/logo.png" alt="" class="logo">
    </div>
    <input type="checkbox" id="check">
    <label for="check" class="bar-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul class="nav-menu">
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Services</a></li>
      <li><a href="">Portafolio</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
  <div class="banner-text">
    <h2>John's soluciones y el mapa de one piece</h2>
    <h1>Be in the <span>WORK</span></h1>
  </div>
</header>
