<section class="services container" id="services">
  <h2 class="heading">Services</h2>
  <div class="services-content">
    <div class="services-box">
      <i class="bx bxl-angular"></i>
      <h2>Angular</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias asperiores harum hic iusto, nam nihil officiis pariatur praesentium quasi quidem quod reiciendis soluta suscipit tempora temporibus veniam? Harum, repellendus!</p>
    </div>
    <div class="services-box">
      <i class='bx bxl-java'></i>
      <h2>Springboot</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias asperiores harum hic iusto, nam nihil officiis pariatur praesentium quasi quidem quod reiciendis soluta suscipit tempora temporibus veniam? Harum, repellendus!</p>
    </div>
    <div class="services-box">
      <i class='bx bxl-react' ></i>
      <h2>React</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias asperiores harum hic iusto, nam nihil officiis pariatur praesentium quasi quidem quod reiciendis soluta suscipit tempora temporibus veniam? Harum, repellendus!</p>
    </div>
  </div>
</section>
