<section class="abaut container" id="abaut">
  <h2 class="heading">About</h2>
  <div class="about-content">
    <div class="about-data">
      <span>About Me</span>
      <h2>Web Developer,<br>
        Angular, Java and others, developer
      </h2>
      <a download="hv.pdf" href="../../../../../assets/hv/hv.pdf" class="btn">
        Download Cv
        <i class="bx bx-download"></i>
      </a>
    </div>
    <div class="about-text">
      <p>
        Hello! I am Sergio Ayala. Web Developer y bla bla bla
      </p>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolorem doloribus dolorum expedita hic inventore labore maxime numquam odio porro quia quidem quo saepe, sapiente soluta sunt totam ullam voluptate.
      </p>
      <p>
          Get your project book with contact button.
      </p>
    </div>
  </div>
</section>
