
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,900;1,400&family=Poppins:wght@500;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.heading{
  font-size: 5rem;
  text-transform: uppercase;
  color: #949090;
  text-align: center;
  margin-bottom: 5rem;
  font-weight: bolder;

}

.about-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
  margin-left: 5%;
  margin-right: 5%;
}

.about-data span{
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}
.about-data h2{
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 700;
  margin: 1rem 0;
  color: #ffffff;
}
.btn{
  font-size: 0.97rem;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: white;
  background-color: #7a7a7a;
  padding: 12px 16px;
  border-radius: 0.4rem;
  margin-top: 1rem;
}
.about-text p{
  font-size: 0.938rem;
  color: white;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 1.5rem;
}
